<!-- 
    Name: Saurabh Kale
    ASU ID: 1223450319
    Datae: 9/12/2023
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
<body>
    <p>
        This is the place holder for Student View
    </p>
    <h1>Student View</h1>
</body>
</html>