<!DOCTYPE html>
<html>
<head>
    <div id="currentDateTime"></div>

    <script>
        const dateTimeElement = document.getElementById('currentDateTime');
        const currentDateTime = new Date().toLocaleString();
        dateTimeElement.textContent = currentDateTime;
    </script>
    <title>Error - <%= errorCode %></title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
            text-align: center; /* Center the content */
        }
        .error-box {
            border: 2px solid red;
            padding: 20px;
            background-color: #ffeeee; /* Light red background */
            display: inline-block;
            margin-top: 50px;
        }
    </style>
</head>
<body>

<div class="error-box">
    <h2>Error <%= errorCode %></h2>
    <p><%= errorMessage %></p>
    <a href="/">Return to Home</a>
</div>

</body>
</html>
