<!-- 
    Name: Saurabh Kale
    ASU ID: 1223450319
    Datae: 9/12/2023
 -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>Sales List</title>
     <link rel="stylesheet" href="/styles.css"> <!-- Add a CSS file for styling -->
 </head>
 <body>
     <h1>Sales List</h1>
     <table>
         <thead>
             <tr>
                 <th>Product ID</th>
                 <th>Name</th>
                 <th>Product Number</th>
                 <th>List Price</th>
                 </tr>
         </thead>
         <tbody>
             <% data.forEach(sale => { %>
                 <tr>
                     <td><%= sale.productId %></td>
                     <td><%= sale.name %></td>
                     <td><%= sale.productNumber %></td>
                     <td><%= sale.listPrice %></td>
                 </tr>
             <% }); %>
         </tbody>
     </table>
 </body>
 </html>
 