<!DOCTYPE html>
<html>
    <head>
    <title>User Information Form</title>
    </head>    
<body>
    <h2>User Information Form</h2>
    <form action="/user" method="POST">
        <label for="fname">First Name:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Last Name:</label><br>
        <input type="text" id="lname" name="lname"><br>
        <label for="userId">UserId:</label><br>
        <input type="text" id="userId" name="userId"><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="validateEmail">Retype Email:</label><br>
        <input type="text" id="validateEmail" name="validateEmail"><br>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="validatePassword">Validate Password:</label><br>
        <input type="password" id="validatePassword" name="validatePassword"><br>
        <input type="submit" value="Submit">
    </form>
</body>        
        
</html>