<!-- Name: Saurabh
ASU ID: 1223450319
Date: 9/24/2023 -->
<!DOCTYPE html>
<html>
<head>
    <title>Registration Page</title>
</head>
<body>
    <h1>Registration</h1>
    <form action="/register" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <label for="verifyPassword">Verify Password:</label>
        <input type="password" id="verifyPassword" name="verifyPassword" required><br><br>

        <input type="submit" value="Register">
        <p>Already have an account? <a href="/login">Login here</a></p>
        <% if (typeof errorMessage !== 'undefined') { %>
            <p style="color:red"><%= errorMessage %></p>
        <% } %>
    </form>
</body>
</html>