<!-- Name: Saurabh
ASU ID: 1223450319
Date: 9/24/2023 -->
<!DOCTYPE html>
<html>
<head>
    <title>Update Password Page</title>
</head>
<body>
    <h1>Password change</h1>
    <form action="/updatePassword" method="POST">

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <label for="verifyPassword">Verify Password:</label>
        <input type="password" id="verifyPassword" name="verifyPassword" required><br><br>

        <input type="submit" value="Submit">
    </form><br>
    <a href="/home">cancel</a>
    <% if (typeof errorMessage !== 'undefined') { %>
        <p style="color:red"><%= errorMessage %></p>
    <% } %>

    <% if (typeof successMessage !== 'undefined') { %>
        <p style="color:green"><%= successMessage %></p>
    <% } %>
</body>
</html>